---
layout: default
---
<h1>My leetcode solutions</h1>
<p>I decided to slowly work my way through 
	<a href="https://leetcode.com/">LeetCode</a>, a website that contains coding problems ranging in difficulty 
	and topics including data structures and algorithms. My goal is to 
	complete a few problems a week. I don't have a particular pattern for 
	selecting problems, I usually just pick whatever sounds most interesting 
	based on the title or by choosing one at random. My solutions are usually 
	going to be written in JavaScript and I'll try to include a short 
	write-up with my thoughts on the problem along with an analysis for 
	whatever algorithm I come up with.
</p>
<section>
  <h2>Algorithms</h2>
  <ul>
	{% assign algoproblems = site.solutions | 
		where_exp:"item", "item.language != 'sql'" %} 
	{% for solution in algoproblems %}
		{% assign writeup = site.writeups | where:"title", solution.title | first %}
    	<li>
			<a href="{{ writeup.url | relative_url }}">
				{{ writeup.title }}
			</a>
		</li>
    {% endfor %}
  </ul>
</section>

<section>
  <h2>Database</h2>
  <ul>
	{% assign databaseproblems = site.solutions | 
		where_exp:"item", "item.language == 'sql'" %} 
	{% for solution in databaseproblems %}
		{% assign writeup = site.writeups | where:"title", solution.title | first %}
    	<li>
			<a href="{{writeup.url}}">
				{{ writeup.title }}
			</a>
		</li>
    {% endfor %}
  </ul>
</section>
