body {
  background: #eef0f2;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0px;
}

main {
  background: #ffffff;
  border: 5px solid #e5e2e6;
  box-sizing: border-box;
  margin: 0px auto;
  max-width: 1000px;
  padding: 2rem;
  width: 75%;
}
