---
layout: default
---

<h1>{{ page.title }}</h1>

<!-- description of problem -->
{% assign desc = site.descriptions | where: "title", page.title | first %}
{{desc.content}}
<!-- end description -->

<section>
  <h2>My Solution</h2>
  <!-- source code for solution -->
  <h3>Source Code</h3>
  {% assign solution = site.solutions | where: "title", page.title | first %}

  {% comment %}
  Liquid doesn't allow for passing in variables to tags, so
  instead we just use a case statement for every language type...
  {% endcomment%} 
  {% case solution.language %}
    {% when "javascript" %}
      {% highlight javascript linenos %}{{solution.content}}{% endhighlight %}
    {% when "sql" %}
      {% highlight sql linenos %}{{solution.content}}{% endhighlight %}   
    {% when "php" %}
      {% highlight php linenos %}{{solution.content}}{% endhighlight %}  
    {% when "bash" %}
      {% highlight bash linenos %}{{solution.content}}{% endhighlight %}
    {% else %}
      {% highlight linenos %}{{solution.content}}{% endhighlight %}
  {% endcase %}
 
  <!-- end source code -->

  <!-- writeup -->
  <h3>Analysis</h3>
  {{ content }}
  <!-- end write up-->
</section>
